.Weather {
  font-family: "Rubik", sans-serif;
  color: #222831;
  background-size: 100%;
}

.Weather h1 {
  font-size: 44px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather .weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.Weather .weather-app {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 25px;
  border: 1px solid #222831;
  border-radius: 8px;
}

.Weather .temperature {
  font-size: 42px;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
  top: -12px;
}

.Weather .weather-temperature .unit {
  font-size: medium;
  position: relative;
  top: -30px;
}

.Weather .extra-info {
  position: relative;
  left: 25%;
}

.Weather .open-source-code {
  text-decoration: none;
  color: rgb(70, 6, 109);
  transform: all 200ms ease-in-out;
}

.Weather .open-source-code:hover {
  color: rgba(70, 6, 109, 0.6);
}

.Weather .search-city {
  text-align: center;
  margin-top: 20px;
}

.Weather .btn {
  background: rgba(70, 6, 109, 0.5);
  border: 1px solid rgba(70, 6, 109, 0.5);
}

.Weather .btn:hover {
  background: rgba(70, 6, 109, 0.4);
  border: 1px solid rgba(214, 195, 252, 0.8);
}

@media (max-width: 768px) {
  .Weather h1 {
    font-size: 38px;
  }

  .Weather .extra-info {
    position: relative;
    left: 28%;
  }

  .Weather .form-control {
    font-size: 12px;
    max-width: 90%;
  }

  .Weather .btn {
    font-size: 12px;
    max-width: 220%;
    padding: 6px;
  }

  .Weather .search {
    position: relative;
    right: 50%;
  }

  .Weather .search-location {
    padding-right: 20px;
    position: relative;
    right: 200%;
  }

  .Weather footer p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .Weather .extra-info {
    position: relative;
    left: 24%;
  }
}

@media (max-width: 450px) {
  .Weather .extra-info {
    position: relative;
    left: 14%;
  }
}

@media (max-width: 360px) {
  .Weather .extra-info {
    position: relative;
    left: 12%;
  }
}

@media (max-width: 280px) {
  .Weather h1 {
    font-size: 30px;
  }

  .Weather li {
    font-size: 12px;
  }

  .Weather .extra-info {
    position: relative;
    left: 8%;
  }

  .Weather .temperature {
    font-size: 42px;
    margin-left: 70px;
    position: relative;
    top: -64px;
  }

  .Weather .weather-temperature .unit {
    font-size: medium;
    position: relative;
    top: -82px;
  }

  .Weather footer p {
    font-size: 12px;
  }

  .Weather .form-control {
    font-size: 10px;
  }

  .Weather .btn {
    font-size: 10px;
    max-width: 200%;
    padding: 6px;
  }

  .Weather .search {
    position: relative;
    right: 90%;
    padding-right: 38px;
  }

  .Weather .search-location {
    position: relative;
    right: 200%;
    padding-right: 16px;
  }
}
